$head: "Montserrat", sans-serif;
$description: "Roboto", sans-serif;
$tagline: "Kaushan Script", sans-serif;
$focus-header: #fce38a;
$decor-color: #f38181;
$header-text-color: #ffffff;
$primary-heading-color: #333333;
$description-text-color: #999999;
$background-color: #95e1d3;
$placeholder-color: #cccccc;
